body {
    background-color: #f0f2f5;
}

.container {
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    max-width: 100% !important;
}

.main-container {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
}

main {
    background-color: transparent !important;
}
